@media screen and (max-width: 415px){
    body{
        background: linear-gradient(180deg, rgba(0,179,247,1) 0%, rgba(0,48,57,1) 50%) !important;
    }
    .banner{
        flex-direction: column;
        justify-content: center;
        width: 380px;

        .searchBarContainer{
            margin: 15px 0;
            display: flex;
            justify-content: none;

            .searchBar{
                height: 30px;
                width: 300px;
                padding: 10px;
                border: none;
                border-radius: 10px;
                box-shadow: 5px 5px 10px grey;
                font-size: 24px;
            }
        }
    }

    .currentDateContainer{
        margin: 0;
    }
    
    .currentMeteoContainer{
        max-width: 330px;

        .currentMeteo{
            margin-top: 20px;
            margin-left: 0;

            .infoContainer{
                margin-left: 20px;
            }

            .iconContainer{
                .icon{
                    height: 150px;
                    width: 150px;
                }
            }
        }

        .tableContainer{
            flex-direction: column;
            margin-left: 50px !important;
        }
    }
    

    .dailyMeteoContainer{
        position: relative;
        top: 50px;
        bottom: 0;
        left: 15px;
        max-width: 380px;
        padding-bottom: 20px;

        .dailyMeteoList{
            flex-direction: column;

            .meteoDay{
                flex-direction: row;
                height: 50px;
                width: 345px;

                .dailyDate{
                    margin: auto;
                    font-size: 14px;
                }

                img{
                    height: 45px;
                    width: 45px;
                    margin: 0 20px;
                }

                p{
                    margin: auto 3px;
                    font-size: 16px;
                }
            }
        }
    }
    
    .chartsContainer{
        position: relative;
        bottom: 20px;
        left: 20px;
        padding-bottom: 100px;

        .charts{
            margin-bottom: 0;

            .chart{
                width: 330px !important;
            }
        }

        h3{
            margin-bottom: 0;
        }

        h2{
            font-size: 20px;
        }
    }
}