@use "banner.scss";
@use "currentMeteo.scss";
@use "dailyMeteo.scss";
@use "weatherCharts.scss";
@use "responsive415.scss";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: rgb(0,179,247);
    background: linear-gradient(90deg, rgba(0,179,247,1) 0%, rgba(0,48,57,1) 50%);
}