.chartsContainer{
    position: absolute;
    top: 100px;
    right: 20vh;

    .charts{
        width: 100%;
        height: 300px;
        margin-bottom: 50px;
    }
}

h2, h3{
    color: white;
    margin-bottom: 5px;
}