.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBarContainer {
  margin: 25px 15vh;
}
.searchBarContainer .searchBar {
  height: 30px;
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  font-size: 24px;
}

.currentDateContainer {
  margin: 25px 5vh;
}
.currentDateContainer .currentDate {
  color: white;
}

.currentMeteoContainer .currentMeteo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-left: 50px;
}
.currentMeteoContainer .currentMeteo .infoContainer {
  display: flex;
  margin-left: 10vh;
}
.currentMeteoContainer .currentMeteo .infoContainer .location, .currentMeteoContainer .currentMeteo .infoContainer .temperature, .currentMeteoContainer .currentMeteo .infoContainer .condition {
  color: white;
  margin-bottom: 10px;
}
.currentMeteoContainer .currentMeteo .infoContainer .location {
  font-size: 32px;
}
.currentMeteoContainer .currentMeteo .infoContainer .temperature {
  font-size: 42px;
  font-weight: 600;
}
.currentMeteoContainer .currentMeteo .infoContainer .condition {
  font-size: 20px;
}
.currentMeteoContainer .currentMeteo .infoContainer .iconContainer .icon {
  height: 200px;
  width: 200px;
}
.currentMeteoContainer .currentMeteo .tableContainer {
  display: flex;
  gap: 20px;
  margin-left: 10vh;
}
.currentMeteoContainer .currentMeteo .tableContainer .ligneContainer {
  display: flex;
  justify-content: space-between;
  width: 275px;
  height: 30px;
  padding: 2px;
  margin-bottom: 7px;
  border-bottom: 1px solid black;
  color: white;
}
.currentMeteoContainer .currentMeteo .tableContainer .ligneContainer .hook {
  display: flex;
  gap: 5px;
}

.dailyMeteoContainer {
  position: absolute;
  bottom: 50px;
  left: 25vh;
}
.dailyMeteoContainer .dailyMeteoList {
  display: flex;
  gap: 20px;
}
.dailyMeteoContainer .dailyMeteoList .meteoDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px grey;
  background-color: white;
}
.dailyMeteoContainer .dailyMeteoList .meteoDay .dailyDate {
  margin: 0 auto;
  color: rgb(0, 48, 57);
}
.dailyMeteoContainer .dailyMeteoList .meteoDay img {
  height: 150px;
  width: 150px;
  margin-left: 20px;
}
.dailyMeteoContainer .dailyMeteoList .meteoDay p {
  margin: 10px 0 0 10px;
  font-size: 20px;
}

.chartsContainer {
  position: absolute;
  top: 100px;
  right: 20vh;
}
.chartsContainer .charts {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

h2, h3 {
  color: white;
  margin-bottom: 5px;
}

@media screen and (max-width: 415px) {
  body {
    background: linear-gradient(180deg, rgb(0, 179, 247) 0%, rgb(0, 48, 57) 50%) !important;
  }
  .banner {
    flex-direction: column;
    justify-content: center;
    width: 380px;
  }
  .banner .searchBarContainer {
    margin: 15px 0;
    display: flex;
    justify-content: none;
  }
  .banner .searchBarContainer .searchBar {
    height: 30px;
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    font-size: 24px;
  }
  .currentDateContainer {
    margin: 0;
  }
  .currentMeteoContainer {
    max-width: 330px;
  }
  .currentMeteoContainer .currentMeteo {
    margin-top: 20px;
    margin-left: 0;
  }
  .currentMeteoContainer .currentMeteo .infoContainer {
    margin-left: 20px;
  }
  .currentMeteoContainer .currentMeteo .iconContainer .icon {
    height: 150px;
    width: 150px;
  }
  .currentMeteoContainer .tableContainer {
    flex-direction: column;
    margin-left: 50px !important;
  }
  .dailyMeteoContainer {
    position: relative;
    top: 50px;
    bottom: 0;
    left: 15px;
    max-width: 380px;
    padding-bottom: 20px;
  }
  .dailyMeteoContainer .dailyMeteoList {
    flex-direction: column;
  }
  .dailyMeteoContainer .dailyMeteoList .meteoDay {
    flex-direction: row;
    height: 50px;
    width: 345px;
  }
  .dailyMeteoContainer .dailyMeteoList .meteoDay .dailyDate {
    margin: auto;
    font-size: 14px;
  }
  .dailyMeteoContainer .dailyMeteoList .meteoDay img {
    height: 45px;
    width: 45px;
    margin: 0 20px;
  }
  .dailyMeteoContainer .dailyMeteoList .meteoDay p {
    margin: auto 3px;
    font-size: 16px;
  }
  .chartsContainer {
    position: relative;
    bottom: 20px;
    left: 20px;
    padding-bottom: 100px;
  }
  .chartsContainer .charts {
    margin-bottom: 0;
  }
  .chartsContainer .charts .chart {
    width: 330px !important;
  }
  .chartsContainer h3 {
    margin-bottom: 0;
  }
  .chartsContainer h2 {
    font-size: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: rgb(0, 179, 247);
  background: linear-gradient(90deg, rgb(0, 179, 247) 0%, rgb(0, 48, 57) 50%);
}

/*# sourceMappingURL=style.css.map */
